
.margin-class {
     margin: 15px;
 }

.padding-class{
    padding: 15px;
}

.small-margin-class {
    margin: 5px;
}

.small-padding-class{
    padding: 5px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
